@model DtoDeepDive.WebUI.ViewModels.CatalogViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="container">
  <h2>Part Catalog</h2>
  <br />
  @using (Html.BeginForm("Quote", "Home")) {
      <div class="row">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th></th>
              <th>Quantity</th>
              <th>Part #</th>
              <th>Extended Description</th>
            </tr>
          </thead>
          <tbody>
            @Html.EditorFor(x => x.Items)
          </tbody>
        </table>
        <button class="btn btn-default" type="submit">Generate Quote</button>
      </div>
  }
</div>